.sortable-list {
  padding: 1px;
  .component-warp {
    width: 100%;
    transition: all 0.3s;
    cursor: move !important;
    position: relative;
    &:hover {
      .action-btn {
        display: block;
      }
    }
    .action-btn {
      display: none;
      position: absolute;
      right: -5px;
      top: -10px;
      z-index: 99;
    }
  }
  .component-col-warp {
    box-sizing: border-box;
  }
  // 从左侧拖拽过来时的样式
  .ant-col.ant-col-12.left-sidebar-col {
    background-color: #f8f8f8;
    // display: flex;
    // align-items: center;
    .ant-btn {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
  .editor-area-item-col {
    padding: 1px;
    margin-bottom: 1px;
    &:hover {
      outline: rgb(235, 200, 200) dashed 1px;
    }
  }

  [data-id="Input"],
  [data-id="Input.TextArea"],
  [data-id="Input.Password"],
  [data-id="Editor"],
  [data-id="InputNumber"],
  [data-id="Select"],
  [data-id="Cascader"],
  [data-id="Radio"],
  [data-id="Checkbox"],
  [data-id="Switch"],
  [data-id="Slider"],
  [data-id="TimePicker"],
  [data-id="TimePicker.RangePicker"],
  [data-id="DatePicker"],
  [data-id="DatePicker.RangePicker"],
  [data-id="Rate"],
  [data-id="Upload"],
  [data-id="Button"] {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-wrap {
    .action-btn {
      left: -5px;
    }
  }
}

.not-found-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: lighter;
  color: #40a9ff;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  letter-spacing: 4px;
}
