.sortable-list {
  padding: 1px;
  .sortable-item-wrap {
  }
  .component-warp {
    width: 100%;
    transition: all 0.3s;
    cursor: move !important;
    position: relative;
    &:hover {
      .action-btn {
        display: block;
      }
    }
    .action-btn {
      display: none;
      position: absolute;
      right: -5px;
      top: -10px;
      z-index: 99;
    }
  }
  .component-col-warp {
    box-sizing: border-box;
  }
  // drop placeholder的css类名
  .sortable-ghost {
    position: relative;
    background-color: #f8f8f8;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: hsl(207, 100%, 63%);
      z-index: 10;
    }
    .component-warp {
    }
  }
  // 从左侧拖拽过来时的样式
  .ant-col.ant-col-12.left-sidebar-col {
    background-color: #f8f8f8;
    // display: flex;
    // align-items: center;
    .ant-btn {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
  .ant-col.ant-col-12.editor-area-item-col.sortable-chosen {
    background-color: transparent !important;
  }
  // 所选项目的样式
  .sortable-chosen {
    outline: rgb(235, 200, 200) solid 1px;
  }
  .editor-area-item-col {
    padding: 1px;
    margin-bottom: 1px;
    &:hover {
      outline: rgb(235, 200, 200) dashed 1px;
    }
  }

  [data-id='Input'],
  [data-id='Input.TextArea'],
  [data-id='Input.Password'],
  [data-id='Editor'],
  [data-id='InputNumber'],
  [data-id='Select'],
  [data-id='Cascader'],
  [data-id='Radio'],
  [data-id='Checkbox'],
  [data-id='Switch'],
  [data-id='Slider'],
  [data-id='TimePicker'],
  [data-id='TimePicker.RangePicker'],
  [data-id='DatePicker'],
  [data-id='DatePicker.RangePicker'],
  [data-id='Rate'],
  [data-id='Upload'],
  [data-id='Button'] {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-wrap {
    .action-btn {
      left: -5px;
    }
  }
}
