.row-dragging {
  z-index: 9999;
  background: #fafafa;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  td {
    padding: 16px;
    width: 100%;
  }
}

.row-dragging .drag-visible {
  visibility: visible;
}
tr {
  .drag-handle {
    position: relative;
    padding-left: 20px !important;
    .ant-table-row-expand-icon.ant-table-row-expand-icon-expanded,
    .ant-table-row-expand-icon.ant-table-row-expand-icon-collapsed {
      margin-left: 10px !important;
    }
    .drag-handle-icon {
      opacity: 0;
      width: 20px;
      height: 20px;
      cursor: grab;
      position: absolute;
      left: 0;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.85' fill-rule='nonzero' fill='%23000'%3E%3Cpath d='M10.125 1.75v1.125H9V1.75h1.125zm0 2.844v1.125H9V4.594h1.125zm0 5.687v1.125H9v-1.125h1.125zm0 2.844v1.125H9v-1.125h1.125zm0-5.688v1.125H9V7.438h1.125zM6.125 1.75v1.125H5V1.75h1.125zm0 2.844v1.125H5V4.594h1.125zm0 5.687v1.125H5v-1.125h1.125zm0 2.844v1.125H5v-1.125h1.125zm0-5.688v1.125H5V7.437h1.125z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &:hover {
    .drag-handle-icon {
      opacity: 1;
    }
  }
}
