.visual-editor {
  // width: 100vw;
  height: 100vh;
  display: flex;
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    .header {
      height: 46px;
      flex-shrink: 0;
      border-bottom: 1px solid #f1f1f1;
    }
    .content {
      height: calc(100% - 46px);
      display: flex;
      .sidebar {
        height: 100%;
        width: 260px;
        padding-top: 5px;
        border-right: 1px solid #f1f1f1;
        flex-shrink: 0;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .editor-area-scroll {
        overflow-y: auto;
        flex-shrink: 0;
        flex: 1;
        height: 100%;
        // padding: 0 15px;
        position: relative;
        .not-found-info {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          font-weight: lighter;
          color: #40a9ff;
          user-select: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          letter-spacing: 4px;
        }
      }
    }
  }
  .sidebar {
    width: 350px;
    flex-shrink: 0;
    border-left: 1px solid #f1f1f1;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    font-style: italic;
    color: #00afff;
  }
  .actions {
    .ant-btn {
      padding-left: 0 !important;
    }
  }
}

.content {
  .sidebar {
    .ant-btn {
      text-align: left;
      cursor: move !important;
      &:hover,
      &:active,
      &:focus {
        border: 1px dashed #40a9ff;
      }
    }
    .title-btn {
      border: none !important;
      cursor: text !important;
    }
  }
}

.form-properties {
  height: calc(100vh - 46px - 16px);
  overflow-y: scroll;
  overflow-x: hidden;
}

/* 重置标题样式 */
h5.ant-typography {
  font-size: 14px;
}
.mb-0 {
  margin-bottom: 0;
}
.w-100 {
    width: 100%;
}