.sortable-list {
  .ant-col-12 {
    padding: 10px !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .sortable-item-wrap {
    &:first-child {
      padding-top: 5px;
    }
    &:last-child {
      padding-bottom: 5px;
    }
  }

  .component-warp {
    margin: 12px 0 !important;
    padding: 11px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: move !important;
    position: relative;
    &:hover {
      background-color: #f8f8f8;
      .action-btn {
        display: block;
      }
    }
    .action-btn {
      display: none;
      position: absolute;
      right: -5px;
      top: -15px;
      z-index: 99;
    }
  }
  // drop placeholder的css类名
  .sortable-ghost {
    background-color: #f8f8f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 4px;
      background-color: hsl(207, 100%, 63%);
      z-index: 10;
    }
  }
  // 所选项目的类样式
  .sortable-chosen {
    .component-warp {
      border-radius: 10px;
      background-color: #f8f8f8;
    }
  }
}

