.sortable-list {
  padding-top: 5px;
  .ant-col-12 {
    padding: 10px !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .sortable-item-wrap {
    &:last-child {
      padding-bottom: 5px;
    }
  }
  .sortable-item-wrap-no-form-item {
    // width: 45%;
    // display: inline-block;
  }

  .component-warp {
    width: 100%;
    margin: 6px 0 !important;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: move !important;
    position: relative;
    &:hover {
      background-color: #f8f8f8;
      .action-btn {
        display: block;
      }
    }
    .action-btn {
      display: none;
      position: absolute;
      right: -5px;
      top: -15px;
      z-index: 99;
    }
  }
  // drop placeholder的css类名
  .sortable-ghost {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    .component-warp {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      right: 0;
      height: 4px;
      background-color: hsl(207, 100%, 63%);
      z-index: 10;
    }
  }
  // 从左侧拖拽过来时的样式
  .ant-col.ant-col-12.sortable-chosen {
    background-color: #f8f8f8;
  }

  // 所选项目的类样式
  .sortable-chosen {
    .component-warp {
      border-radius: 10px;
      background-color: #f8f8f8;
    }
  }
}
