@import '~antd/dist/antd.css';
body {
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
:root {
  --main-color: #00afff;
  --main-bg: rgb(255 255 255);
  --menu-item-bg: rgb(244 244 244);
  --menu-danger-color: red;
}
