@import '~antd/dist/antd.css';
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}
:root {
  --main-color: #00afff;
  --main-bg: rgb(255 255 255);
  --menu-item-bg: rgb(244 244 244);
  --menu-danger-color: red;
  --main-border-color: #f8f8f8;
  --main-secord-bg: rgba(0,0,0,.1);
}
