@import '~antd/dist/antd.css';
body {
  margin: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --main-color: #00afff;
  --main-bg: rgb(255 255 255);
  --menu-item-bg: rgb(244 244 244);
  --menu-danger-color: red;
}